
<h2> All Movies: </h2>
<ul>
        {% for movie in movies %}
            <li>
                <h4><b>{{ movie.title }}</b></h4>
            </li>
            <p>{{ movie.releasedate }}</p>

        {% endfor %}
</ul>

<h2> Submit a New Movie: </h2>
<form method="POST">
      <div><label>Title: <input type="text" name="title"></label></div>
      <div><label>Release date: <input type="text" name="releasedate"></label></div>
      <input type="submit" value="Submit">
</form>
<a href="/">Back to Home</a>